@define-color bg #1a1b26;
@define-color bg_alt #24283b;
@define-color fg #c0caf5;
@define-color primary #7aa2f7;
@define-color secondary #bb9af7;
@define-color alert #f7768e;
@define-color disabled #565f89;

* {
    font-family: "Iosevka Nerd Font";
    font-size: 14px;
    border: none;
    border-radius: 0;
}

window#waybar {
    background-color: transparent;
}

window#waybar > box {
    background-color: @bg;
    border-radius: 12px;
}

#custom-launcher,
#workspaces,
#window,
#pulseaudio,
#tray,
#battery,
#clock,
#custom-exit {
    padding: 0 10px;
}

#custom-launcher {
    color: @primary;
    font-size: 18px;
}

#workspaces button {
    color: @fg;
    padding: 0 5px;
}

#workspaces button.active {
    color: @primary;
    background-color: @bg_alt;
    border-bottom: 3px solid @primary;
}

#workspaces button.urgent {
    background-color: @alert;
}

#window {
    color: @primary;
}

#pulseaudio {
    color: @secondary;
}

#battery {
    color: @primary;
}

#battery.charging {
    color: @secondary;
}

#battery.critical:not(.charging) {
    color: @alert;
}

#clock {
    color: @primary;
}

#custom-exit {
    color: @alert;
    margin-right: 5px;
}
